* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, sans-serif;
}

body {
  background: #eef6ff;
}
/* HEADER */
.top-header {
  background: #5aaefc;
  color: white;
  padding: 10px;
  display: flex;
  justify-content: space-between;
}

/* QUICK OPTIONS */
.quick-options {
  display: flex;
  gap: 10px;
  padding: 12px;
}
.card {
  background: white;
  border-radius: 14px;
  padding: 10px;
  text-align: center;
  width: 25%;
  position: relative;
}

.card img {
  width: 40px;
}

.yellow {
  background: #ffeb3b;
}

.badge {
  position: absolute;
  top: 6px;
  right: 10px;
  background: crimson;
  color: white;
  border-radius: 50%;
  padding: 3px 7px;
  font-size: 12px;
}

.green {
  color: green;
}

/* LOCATION */
.location-bar {
  background: #d9ecff;
  margin: 10px;
  padding: 10px;
  border-radius: 14px;
  display: flex;
  align-items: center;
  gap: 8px;
}

.coin {
  margin-left: auto;
  background: white;
  padding: 6px 10px;
  border-radius: 12px;
}

/* SEARCH */
.search-box {
  background: white;
  margin: 10px;
  padding: 10px;
  border-radius: 14px;
  display: flex;
  align-items: center;
  gap: 10px;
}

.search-box input {
  border: none;
  outline: none;
  width: 100%;
}
/* CATEGORIES */
.categories {
  display: flex;
  justify-content: space-around;
  padding: 15px 10px;
  background: #eef6ff;
}

.cat {
  text-align: center;
  font-size: 14px;
}

.cat i {
  font-size: 22px;
  margin-bottom: 5px;
}

/* SLIDER */
.slider-container {
  margin: 12px;
  overflow: hidden;
  border-radius: 16px;
}

.slider {
  display: flex;
  transition: transform 0.6s ease-in-out;
}

.slide {
  min-width: 100%;
}

.slide img {
  width: 100%;
  display: block;
  border-radius: 16px;
}

/* DOTS */
.dots {
  display: flex;
  justify-content: center;
  margin-top: 6px;
}

.dot {
  width: 8px;
  height: 8px;
  background: #ccc;
  border-radius: 50%;
  margin: 0 4px;
}

.dot.active {
  background: #000;
  width: 18px;
  border-radius: 10px;
}

.categories-wrapper {
  padding: 10px 25px;
  background: #eef6ff;
}
.categories-scroll {
  display: flex;
  gap: 30px;
  padding: 10px 12px;

}

body {
  margin: 0;
  font-family: Arial, sans-serif;
  background: #f5f5f5;
}

.suggested-section {
  background: #fff;
  padding: 12px;
}

.section-title {
  font-size: 18px;
  margin-bottom: 10px;
}

.product-grid {
  display: grid;
  grid-template-columns: repeat(3, 3fr);
  gap: 15px;
}

.product-card {
  background: #fff;
  border-radius: 12px;
  padding: 8px;
  box-shadow: 0 2px 8px rgba(0,0,0,0.1);
}

.product-card img {
  width: 100%;
  height: 140px;
  object-fit: contain;
}

.title {
  font-size: 14px;
  font-weight: 600;
  margin: 6px 0;
}

.price {
  font-size: 14px;
}

.old {
  text-decoration: line-through;
  color: gray;
  margin-right: 6px;
}

.new {
  font-weight: bold;
}

.buy {
  color: #1a73e8;
  font-size: 14px;
  font-weight: bold;
  margin-top: 4px;
}
